.v-follow-bt {
    color: white; 
    font-size: 1rem; 
    width: 10rem; 
    padding: .75rem .5rem; 
    border-radius: .25rem; 
    border: 1px solid #20c997;
    cursor: pointer;
}
.v-follow-bt.following {
  background-color: #20c997;
  transition: all .2s;
}
.v-follow-bt.following:hover {
  border-color: #ff3c3c;
  background-color: #ff3c3c;
}
.v-follow-bt.follow {
  color: #20c997; 
  background-color: #ffffff;
}
.v-follow-bt.follow:hover {
  color: #33e4b0; 
  background-color: #fcfffe;
}