@import '@assets/variables.scss';


.v-follow-bt {
  width: 8rem; 
  color: $white; 
  font-size: 1rem; 
  margin-top: 1rem;
  padding: .75rem .5rem; 
  border-radius: .25rem; 
  border: 1px solid $primary;
  cursor: pointer;

  /* 팔로우 중인 상태 */
  &.following {
    background-color: $primary;
    transition: all .2s;
    &:hover {
      border-color: $danger;
      background-color: $danger;
    }
  }

  /* 아직 팔로우 중이 아닌 상태 */
  &.follow {
    color: $primary; 
    background-color: $white;
    &:hover {
      color: $primary-hover; 
      background-color: #fcfffe;
    }
  }
}
