@import '@assets/variables.scss';

.menu {
    width: 100%;
    border: none;
    color: $lazy-gray;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: left;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: transparent;
    cursor: pointer;
    transition: color ease .2s;
    &.active {
        color: $primary;
        .icon  {
            fill: $primary;
        }
    }
    .icon  {
        fill: $lazy-gray;
        margin-left: .5rem;
        margin-right: .5rem;
    }
    &:not(.active):hover {
        color: $gray;
        .icon  {
            fill: $gray;
        }
    }
}