@import '@assets/variables.scss';

.block {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    &:first-of-type {
        padding-top: 0rem;
    }
    &+.block {
        border-top: 1px solid $line;
    }
    .block-title {
        font-size: 1.25rem;
        color: $title;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: .25rem;
    }
    .block-desc {
        font-size: .75rem;
        margin-top: 0px;
        margin-bottom: .5rem;
        color: $desc;
    }
    .btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    .btn-outline {
        border: 1px solid $black;
        background-color: transparent;
        cursor: pointer;
        &.btn-warning {
            color: $danger;
            padding: .5rem 1rem;
            border-color: $danger;
            border-radius: .25rem;
            transition: all ease .5s;
            border-radius: .25rem;
            &:hover {
                color: white;
                background-color: $danger;
            }
        }
    }
}

.github-img {
    width: 2rem;
}

.alert-msg {
    display: inline;
    color: $danger;
    margin-left: 1rem;
    font-size: .5rem;
}