$primary: #20c997;
$primary-hover: #33e4b0;
$primary-lazy-hover: #21c99830;
$danger: #FF8787;
$danger-hover: #ff87874d;
$danger-lazy-hover: #FF878730;
$white: #ffffff;
$black: #000000;
$gray: #4e4e4e;
$lazy-gray: #4e4e4ec0;
$secondary: #efefef;

$scrollbar: #bbbbbb;
$line: #c3c3c3;

$title: #404040;
$desc: #5a5a5a;