.App {
  // text-align: center;
}

.App-header {
  // min-height: 100vh;
  height: 30rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.sidebar {
  width: 12rem;
  padding: 1rem;
  border-right: 1px solid #4e4e4e4e;
  .logo {
    width: 3rem;
    margin: 0 auto;
    border-radius: .25rem;
    display: block;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
  }
}

.content {
  width: 27rem;
  padding: 3rem;
}