@import '@assets/variables.scss';

.notice-list {
    height: 90%;
    &.contents-notice-list {
        position: absolute;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
        height: 500px;
        right: 0PX;
        width: 500px;
        padding: 1rem;
        z-index: 4;
    }
    &.popup-notice-list {
    }
}


.notice {
    width: 100%;
    border: none;
    border-radius: .25rem;
    padding: 1.25rem 1rem;
    margin-bottom: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: $secondary;
    transition: background-color ease .25s;
    cursor: pointer;
    &:not(.ready-selected):hover {
        background-color: $primary-lazy-hover;
    }
    &.ready-selected:hover {
        background-color: $danger-lazy-hover;
    }
    &.selected {
        background-color: $danger-hover;
        &:hover {
            background-color: $danger-hover;
        }
    }
    .notice-author {
        font-size: .75rem;
        font-weight: 700;
        margin: 0px 0px .5rem 0px;
        color: #a0a0a0;
    }
    .notice-title {
        margin: 0px;
        font-size: 1rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $black;
    }
}

.edit-menu {
    display: flex;
    justify-content: flex-end;
    margin-bottom: .5rem;
    .btn {
        padding: .5rem;
        border: none;
        border-radius: .25rem;
        background-color: transparent;
        cursor: pointer;
        transition: background-color ease .25s;
        &:hover {
            background-color: $secondary;
        }
        &.first-btn {
            margin-right: auto;
            background-color: $secondary;
        }
        &.danger {
            color : $danger;
        }
    }
}

.notice-msg {
    margin-top: 1rem;
    margin-bottom: 0px;
    color: #aaa;
    font-size: 1rem;
}