.notice-list {
    height: 90%;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: .25rem;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #bbbbbb;
    }
    &::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0);
    }
    &.contents-notice-list {
        position: absolute;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
        height: 500px;
        right: 0PX;
        width: 500px;
        padding: 1rem;
        z-index: 4;
    }
    &.popup-notice-list {
    }
}


.notice {
    width: 100%;
    border: none;
    border-radius: .25rem;
    padding: 1.25rem 1rem;
    margin-bottom: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    transition: background-color ease .25s;
    cursor: pointer;
    &:not(.ready-selected):hover {
        background-color: #21c99830;
    }
    &.ready-selected:hover {
        background-color: #FF878730;
    }
    &.selected {
        background-color: #ff87874d;
        &:hover {
            background-color: #ff87874d;
        }
    }
    .notice-author {
        font-size: .75rem;
        font-weight: 700;
        margin: 0px 0px .5rem 0px;
        color: #a0a0a0;
    }
    .notice-title {
        margin: 0px;
        font-size: 1rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #000000;
    }
}

.edit-menu {
    display: flex;
    justify-content: flex-end;
    margin-bottom: .5rem;
    .btn {
        padding: .5rem;
        border: none;
        border-radius: .25rem;
        background-color: transparent;
        cursor: pointer;
        transition: background-color ease .25s;
        &:hover {
            background: #eeeeee;
        }
        &.first-btn {
            margin-right: auto;
        }
        &.danger {
            color : #FF8787;
        }
    }
}

.notice-msg {
    margin-top: 1rem;
    margin-bottom: 0px;
    color: #aaa;
    font-size: 1rem;
}